alabaster==1.0.0
attrs==21.4.0
babel==2.16.0
beautifulsoup4==4.12.3
certifi==2024.8.30
cfgv==3.3.1
charset-normalizer==3.3.2
Cython==0.29.37
distlib==0.3.4
docutils==0.21.2
filelock==3.7.0
flake8==4.0.1
furo==2024.8.6
identify==2.5.0
idna==3.10
imagesize==1.4.1
iniconfig==1.1.1
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.6.1
nodeenv==1.6.0
packaging==24.1
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.19.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.18.0
pyparsing==3.0.9
pytest==7.1.2
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==8.0.2
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
urllib3==2.2.3
virtualenv==20.16.2
wheel==0.44.0
